.body {
    align-items: center;
}

.email-wrapper {
    max-width: 450px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 8px;
    
}


.e-line {
    display: block;
    float:none;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    object-fit: fill;
    clear: both;
}

.e-image {
    width: 40px;
    margin-bottom: 10px;
    float: left;
    clear: left;
}

.e-email-subject {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-family: Arial;
    font-weight: 600;
    margin-left: 50px;
   
    
}

.e-greeting {
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
}


.e-first-name {
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
}

.e-first-paragraph {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    margin-right: 0px;
    float: none;
    clear: both;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0px;
    color: grey;
}

.e-button-1{
    margin-top: 13px;
    background-color: #10B981;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 8px;
}

a.class1{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.e-thanks {
    margin-top: 20px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

.e-thanks-2 {
    margin-top: 0px;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.e-footer-text {
    margin-top: 40px;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: -10px;
}

.e-footer-text-2 {
    margin-top: 0px;
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    font-weight: 400;
    color: grey;
}


.e-footer-wrapper{
    margin-top: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    padding-top: 10px;
    font-family: Arial;
    font-size: 10px;
    color: black;
}

a.class2 {
    text-decoration: none;
    color: grey;
    font-family: Arial;
    font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: underline;
}